<footer class="footer">
   <div class="container">
       <div class="footer-block">
           <div class="footer-block__column">
               <div class="list-items">
                   <div class="list-items__title">Services</div>
                   <a href="#" class="list-items__one">Dedicated Engineering Teams</a>
                   <a href="#" class="list-items__one">Custom Software Development</a>
                   <a href="#" class="list-items__one">Test Driven Development</a>
                   <a href="#" class="list-items__one">Prototyping & Design</a>
                   <a href="#" class="list-items__one">Mobile App Development</a>
                   <a href="#" class="list-items__one">Support & Protection</a>

               </div>
           </div>
           <div class="footer-block__column">
               <div class="list-items">
                   <div class="list-items__title">Expertise</div>
                   <a href="#" class="list-items__one">Enterprise Content Management</a>
                   <a href="#" class="list-items__one">UI/UX</a>
                   <a href="#" class="list-items__one">IoT Solution</a>
                   <a href="#" class="list-items__one">Embedded Software</a>
                   <a href="#" class="list-items__one">High Load Systems</a>
                   <a href="#" class="list-items__one">Cloud Solutions</a>
                   <a href="#" class="list-items__one">DevOps</a>

               </div>
           </div>
           <div class="footer-block__column">
               <div class="list-items">
                   <div class="list-items__title">Technologies</div>
                   <a href="#" class="list-items__one">Java</a>
                   <a href="#" class="list-items__one">Scala</a>
                   <a href="#" class="list-items__one">Python</a>
                   <a href="#" class="list-items__one">Ruby</a>
                   <a href="#" class="list-items__one">PHP</a>
                   <a href="#" class="list-items__one">JavaScript</a>
                   <a href="#" class="list-items__one">iOS</a>
                   <a href="#" class="list-items__one">Android</a>
                   <a href="#" class="list-items__one">Angular</a>

               </div>
           </div>
           <div class="footer-block__column footer-block__column--tablet-only">
               <div class="list-items mb-100">
                   <div class="list-items__title">Success Stories</div>
                   <a href="#" class="list-items__one">Clients</a>
                   <a href="#" class="list-items__one">Case Studies</a>
                   <a href="#" class="list-items__one">Articles</a>

               </div>
               <div class="list-items w-auto">
                   <div class="list-items__title">Contact us:</div>
                   <a href="mailto:info@stairwaysoft.com" class="list-items__one">
                       <span class="footer-icon footer-icon--mail"></span>
                       <span>info@stairwaysoft.com</span>
                   </a>
                   <a href="#" class="list-items__one">
                       <span class="footer-icon footer-icon--skype"></span>
                       <span>projektsh</span>
                   </a>

               </div>
           </div>
           <div class="footer-block__column footer-block__column--tablet-only">
               <div class="list-items mb-100">
                   <div class="list-items__title">Company</div>
                   <a href="#" class="list-items__one">Company Overview</a>
                   <a href="#" class="list-items__one">Careers</a>
                   <a href="#" class="list-items__one">Privacy Policy</a>

               </div>
               <div class="list-items list-items--icons">
                   <div class="list-items__title">Follow Us:</div>
                   <a href="#" class="list-items__one list-items__ico list-items--fb"></a>
                   <a href="#" class="list-items__one list-items__ico list-items--in"></a>
                   <a href="#" class="list-items__one list-items__ico list-items--be"></a>

               </div>
           </div>
       </div>
       <div class="copyright-block">
           <div>Copyright © 2012 - 2018 StairwaySoft Ltd</div>
       </div>
   </div>
</footer>