<header id="header" class="header">
   <div class="container">
       <div class="header__wrapper">
           <a href="/" class="header__logo"></a>
           <nav class="header__top-navigation top-nav">
               <ul class="top-nav__wrapper">
                   <li class="top-nav__item">Services</li>
                   <li class="top-nav__item">Expertise</li>
                   <li class="top-nav__item">Technologies</li>
                   <li class="top-nav__item">Success Stories</li>
                   <li class="top-nav__item">Company</li>
                   <li class="top-nav__item">
                       <Button class="top-nav__btn btn btn--upper">Contact Us</Button>
                   </li>
               </ul>
           </nav>
       </div>
   </div>
</header>