<header id="header" class="header">
   <div class="container">
       <div class="header__wrapper">
           <div class="header__logo-block">
               <div id="mobile-menu-btn" class="header__trigger"></div>
               <a href="/" class="header__logo"></a>
           </div>
           <nav class="header__top-navigation top-nav">
               <ul class="top-nav__wrapper">
                   <li class="top-nav__item">
                       <a href="#" class="top-nav__link">Services</a>
                   </li>
                   <li class="top-nav__item">
                       <a href="#" class="top-nav__link">Expertise</a>
                   </li>
                   <li class="top-nav__item">
                       <a href="#" class="top-nav__link">Technologies</a>
                   </li>
                   <li class="top-nav__item">
                       <a href="#" class="top-nav__link">Success Stories</a>
                   </li>
                   <li class="top-nav__item">
                       <a href="#" class="top-nav__link">Company</a>
                   </li>
               </ul>
               <Button class="top-nav__btn btn btn--upper">Contact Us</Button>
           </nav>

       </div>
   </div>
</header>

<div id="header__nav-mobile" class="mobile-nav">
    <ul class="mobile-nav__wrapper">
        <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Services</a>
        </li>
        <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Expertise</a>
        </li>
        <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Technologies</a>
        </li>
        <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Success Stories</a>
        </li>
        <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Company</a>
        </li>
    </ul>
</div>

<div id="header__overlay" class="header__overlay"></div>