
// -- BREAK POINTS ---

$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;



// -- FONTS ---

$ubuntu: 'Ubuntu', sans-serif;
$roboto: 'Roboto', sans-serif;




// -- COLORS ---

$grey: #687482;
$white-border: #e3e4e5;
$white: #fff;
$dart-black: #000;
$black: #000c12;
$dark-gray: #4d5054;
$services-black-layout: #37404b;
$section-bg: #f6f8f9;


$white-header-bottom-border: #dfdedd;


$btn: #432671;
$btn-hover: #909090;
