@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/Roboto-Light.woff2') format('woff2'),
  url('../../fonts/Roboto-Light.woff') format('woff'),
  url('../../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../../fonts/Roboto-Regular.woff') format('woff'),
  url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../../fonts/Roboto-Bold.woff') format('woff'),
  url('../../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Ubuntu-Regular.woff2') format('woff2'),
  url('../../fonts/Ubuntu-Regular.woff') format('woff'),
  url('../../fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/Ubuntu-Medium.woff2') format('woff2'),
  url('../../fonts/Ubuntu-Medium.woff') format('woff'),
  url('../../fonts/Ubuntu-Medium.ttf') format('truetype');
}

html, body{
  font-size: 16px;
}

body{
  font-family: 'Roboto-Regular',  sans-serif;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn{
  font-family: 'Ubuntu-Medium', sans-serif;
  color: $white;
  background-color: $btn;
  border-radius: 20px;
  border: none;
  padding: 11px 18px;
  cursor: pointer;

  &:hover{
    background-color: $btn-hover;
    transition: .3s;
  }

  &.btn--upper{
    text-transform: uppercase;
  }

}


